@charset "utf-8";
/* KJ S&M Digital Insight Group Hwnag In Dong */

/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,
menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0}
table{table-layout:fixed;border:0;border-spacing:0;border-collapse:collapse;}
ul,ol,li,dl,dd,dt{list-style:none}
img,fieldset,iframe{border:0 none}
img {max-width:100%;vertical-align:middle}
textarea{resize:none}
input,select,textarea,button{font-size:100%;vertical-align:middle;outline:none;}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-weight:700;}
address,strong,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
blockquote,q{quotes:none} 
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
body * {font-family:'Nanum Square',sans-serif;font-size:14px;}
body{-webkit-text-size-adjust:none;/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0)*/}

/* box-sizing */
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

/* base - IE8~7 */
header,section,footer,aside,nav,main,article,figure{display:block}

/* base - input */
input:checked[type="checkbox"]{background-color:#666;-webkit-appearance:checkbox} 
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none} 
button{border:0;background-color:transparent;padding:0;cursor:pointer}
input[type="radio"] {-webkit-appearance:radio;}
input[type="checkbox"] {-webkit-appearance:checkbox;}

/* placeholder */
::-webkit-input-placeholder {color:#333;}
::-moz-placeholder {color:#333;} 
:-ms-input-placeholder {color:#333;} 
input:-moz-placeholder {color:#333;}

/* base - a */
a,a:link{text-decoration:none;color:#333} 
a:visited{text-decoration:none}
a:hover,a:focus{ text-decoration:none;color:inherit}
a:active{text-decoration:none} 

/* base - body */
/*
body,input,select,textarea,button{font:14px/1.5 'Nanum Square',sans-serif;color:#666;}
*/

/* common */
.clear:after {content:"";display:block;clear:both;}
.ab {position:absolute;}
.re {position:relative;}
.fix {position:fixed;}
.lt0{left:0;top:0;}
.rt0{right:0;top:0;}
.lb0{left:0;bottom:0;}
.rb0{right:0;bottom:0;}
.none {display:none;}
.bg-none {background:none;}
.iblock {display:inline-block;*display:inline;*zoom: 1;}
.block {display:block;}
.txt-left {text-align:left !important;}
.txt-center {text-align:center !important;}
.txt-right {text-align:right !important;}
.float-l{float:left !important}
.float-r{float:right !important}
.of-y {overflow-y:scroll;}
.va-t {vertical-align:top;}
.va-m {vertical-align:middle;}
.va-b {vertical-align:bottom;}
.zi9{z-index:9999;}
.zi0{z-index:0;}
.of-auto {overflow:auto;}
.of-hidden {overflow:hidden;}
.centered {top:0;left:0;right:0;bottom:0;}
.ab-centered {position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.re-centered {position:relative;margin:0 auto;}
.a-btn {display:block;position:absolute;background:#000;opacity:.0;filter:alpha(opacity=0);font-size:0;}
.a-wh100 {display:block;width:100%;height:100%;}
.wh100 {width:100%;height:100%;}
.ir {overflow: hidden;display: block;text-indent:-9999px;font-size:0;} /* Image Replacement */
html.offScroll, body.offScroll {overflow: hidden;position: fixed;}

/* hidden read */
.blind {overflow:hidden;position:absolute;clip:rect(0 0 0 0);/*IE6,7*/clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;border:0;padding:0;}
.blind.focusable:focus {overflow:visible;position:static;clip:auto;width:auto;height:auto;margin:0;}
caption {overflow:hidden;display:none;clip:rect(0 0 0 0);/*IE6,7*/clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;border:0;padding:0;}

/* skip_nav */
#skip-nav{position:absolute;top:0;left:0;width:98%;z-index:9999}
#skip-nav a{position:absolute;display:block;width:100%;left:0;text-align:center;top:-10000px;font-size:1em}
#skip-nav a:hover,#skip-nav a:focus,#skip-nav a:active {position:absolute;top:0;padding:5px 0;font-weight:bold;color:#20262c;background:#fff}

/* ... */
.ellipsis{display:inline-block;width:auto;max-width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.ellipsis-multi{display:-webkit-box;overflow:hidden;width:99%;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;line-height:1.2em;}